<div class="container">
  <h1>Current Listings</h1>
    <div class="form-group mb-3">
      <%= render 'searchbar' %>
    </div>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-3 col-mb-3">
        <%= render "listings/card", listing: listing %>
      </div>
    <% end %>
  </div>
</div>

