<div class="container">
  <h1>Current Listings</h1>
    <div class="form-group searchbar mb-2">
      <%= render 'searchbar' %>
    </div>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-xs-12 col-sm-6 col-mb-6 col-lg-4">
        <%= render "listings/card", listing: listing %>
      </div>
    <% end %>
  </div>
</div>

