<div class="container">
  <h1>Listings#index</h1>
  <div class="row">
    <div class="col-4">
      <% @listings.each do |listing| %>
        <%= render "listings/card", listing: listing %>
      <% end %>
    </div>
  </div>
</div>
