<div class="container">
  <div class="row mx-auto" style="width: 400px">
    <div class="bg-info m-2 p-5">

      <h1 class="mx-auto">Create New Listing</h1>

      <%= render 'listings/form' %>

    </div>
  </div>
</div>
