.dash-container {
  border-radius: 4px;
}

.card-left {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 36px;


  h2 {
    text-align: center;
    font-size: 32px;
    color: $red;
  }

  h3 {
    font-size: 22px;
  }

  p {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
  }
}

.card-right {

  text-align: center;

  h2 {
    text-align: center;
    font-size: 32px;
  }
  .btn-gray {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .listing-card {
    width: 150px;
    height: 241px;
    padding-top: 14px;
    border-radius: 4px;

    img {
      width: 100px;
      height: 140px;
    }

  }

}

.fas {
  color: $light-gray;
}

.fas:hover {
  color: $red;
}

.bookings-dashboard-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.bookings-title {
  line-height: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
}

.bookings-container {
  margin-top: 42px;
  margin-bottom: 16px;
}
