// Specific CSS for your home-page
.home-background {
    background-image:
    linear-gradient(to right, black, transparent),
    asset-url("kimonoHome.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
    
    height: 100vh;
    width: 100vw;
    position: relative;
}

.home-title {
  font-family: "Roboto";
  color: white;
  text-align: center;

}

p {
  // color: white;
  font-size: 18px;
  margin-top: 18px;
}
.home-row {
  margin-top: 125px;
  text-align: center;
}

.btn {
  margin-top: 22px;
  margin-bottom: 22px;
}


.search-box {
  position: absolute;
  margin-top: 150px;
  margin-left: 24px;
  
  h1 {
    text-align: left;
    margin-left: 8px;
  }
  
}

.search-bar-home {
  
}

