.row {
  text-align: center;
  margin-bottom: 36px;
}

.index-card {
  border-radius: 4px;
  display:inline-block;
  margin-bottom: 20px;

  p {
    margin-top: 0px;
  }
}

.form-group {

  .searchbar .btn-red {
    margin-top: 0px;
  }

  p {
    font-size: 14px;

  }
}

h1 {
  margin-top: 28px;
  margin-bottom: 36px;
}

.search-dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  select{
    width: 300px;
  }

}
