.row {
  text-align: center;
}

.index-card {
  border-radius: 4px;
  display:inline-block;
  margin-bottom: 20px;

  p {
    margin-top: 0px;
  }
}

.form-group {

  .searchbar .btn-red {
    margin-top: 0px;
  }

  p {
    font-size: 14px;

  }
}

h1 {
  margin-top: 28px;
  margin-bottom: 36px;
}

.search-dropdowns {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // align-items: center;
  margin-bottom: 32px;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;

  select{
    width: 250px;
  }

  .btn-listing {
    margin-top: 42px;
  }

}
