<div class="listing-card">
    <% if listing.photo.attached? %>
      <%= cl_image_tag listing.photo.key, height: 300, width: 250, crop: :scale %>
    <% else %>
      <%= image_tag "orange-hakama.jpg"%>
    <% end %>
  <div class="listing-card-info">
    <div>
      <p><%= link_to listing.title, listing_path(listing) %></p>
      <p>¥<%= listing.price %></p>
    </div>
  </div>
</div>


