<div class="container">
  <div class="row">
      <div class="search-box col-4">
        <h1>Easy kimono rentals, for any occasion</h1>
        <%= render 'home_searchbar' %>
        <%= link_to 'Listing a kimono instead?', new_listing_path  %>
      </div>
  </div>
</div>



