<div style="margin-top: -30px" class="home-background">
  <div class="home-container">
    <div class="home-row">
        <div class="search-box col-4">
          <h1 class="home-title">Easy kimono rentals, for any occasion</h1>
          <%= render 'home_searchbar' %>
          <%= link_to 'Listing a kimono instead?', new_listing_path  %>
        </div>
    </div>
  </div>
</div>
