.btn-red {
  background-color: $red;
  color: white;
  border-radius: 8px;
  padding: 10px 24px;
  border: #BF4226;
}

.btn-red:hover {
  color: black;
}

.btn-gray {
  background-color: $light-gray;
  font-color: black;
  border-radius: 8px;
  padding: 10px 24px;
}

.btn-search{
  color: $light-beige;
  border-radius: 8px;
  border: 1px solid;
  margin-bottom: 8px;
}

.btn-search:hover {
  border: 1px solid black;
  color: black;
}


.btn-listing {
  background-color: $red;
  color: white;
  width: 210px;
  border-radius: 8px;
}

input {
  background-color: $red;
  color: white;
  border-radius: 8px;
  padding: 10px 24px;
  border: #BF4226;
}
