h1 {
  text-align: center;
  font-size: 2rem;
  color: gray;
  margin-bottom: 20px;
}

.btn-primary {
  text-align: center;
}

.bg-info {
  border-radius: 5px;
}

#color-form p {
  margin-bottom: 4px;
}

#category-form p {
  margin-bottom: 4px;
}
