.obi-nav {
  background-color: $red;
  margin-bottom: 10px;
}

.obi-link {
  color: $light-beige;
}

.obi-nav-logo {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poiret One';
}

.navbar-light .navbar-nav .nav-link{
    color: $light-beige;
  }

.nav-search{
  margin-right: 10px;
  margin-left: 10px;
}
